<nav 
class="z-10 w-full absolute" 
x-data="{open:false,menu:false, lokasi:false}">
  <div class="relative z-10 bg-red-500 shadow">
    <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
      <div class="relative flex items-center justify-between h-16">
        <div class="flex items-center px-2 lg:px-0">
          <a class="flex-shrink-0" routerLink="/">
            <h1 class="text-white font-bold text-2xl">Digital<span class="font-thin">Banking</span></h1>
            </a>
          <div class="hidden lg:block lg:ml-2">
            <div class="flex">
              <a routerLink="/" class="ml-4 px-3 py-2 rounded-md text-sm leading-5 text-white font-semibold hover:bg-red-700 hover:text-white transition duration-150 ease-in-out cursor-pointer focus:outline-none focus:text-white focus:bg-gray-700 "> Home </a>
              <a routerLink="/customers" class="ml-4 px-3 py-2 rounded-md text-sm leading-5 text-white font-semibold hover:bg-red-700 hover:text-white transition duration-150 ease-in-out cursor-pointer focus:outline-none focus:text-white focus:bg-gray-700 "> Customers </a>
              <a routerLink="/accounts" href="#" class="ml-4 px-3 py-2 rounded-md text-sm leading-5 text-white font-semibold hover:bg-red-700 hover:text-white transition duration-150 ease-in-out cursor-pointer focus:outline-none focus:text-white focus:bg-gray-700 "> Accounts </a>
            </div>
          </div>
        </div>
        <button id="dropdownDefault" data-dropdown-toggle="dropdown" class="text-white bg-red-700 hover:bg-red-800  font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Add <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
<!-- Dropdown menu -->
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700">
            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
              <li>
                <a routerLink="/add-customer" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">add customer</a>
              </li>
              <li>
                <a routerLink="/customers" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">add account</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</nav>